#login{
	padding: 250px 0;
	/*background: url(../../imgs/bg-1.png);*/
	background-size: 100% 100%;
}
#login .wrap{
	width: 600px;
	height: 420px;
	background: rgba(255, 255, 255, 0.6);
	margin: 0 auto;
	box-sizing:border-box;
	position: relative;
	padding: 25px 80px 40px 80px;
	border:1px solid #7d7d7d;
}
#login .wrap .title{
	line-height: 35px;
	font-size: 18px;
	text-align: left;
	border-bottom: 1px solid #7d7d7d;
	margin-bottom:20px;
}
#login .wrap .title a,
#login .checkbox .forget_pw{
	text-align: right;
	font-size: 13px;
	display: inline-block;
	float: right;
	color: #28739a;
}
#login .input_wrap {
	margin: 0 20px 10px 20px;
	font-size: 14px;
}
#login .input_wrap span{
  display: inline-block;
  width: 80px;
  text-align: right;
}
#login .input_wrap input{
	line-height: 40px;
	height: 40px;
	width: 270px;
	margin-left: 10px;
}
#login .checkbox{
	line-height: 40px;
	padding: 0 60px 0 100px;
}
#login .checkbox input{
	margin-right: 5px;
}
#login a.login_btn{
	display: inline-block;
	width: 270px;
	line-height: 40px;
	text-align: center;
	margin:10px 0 0 80px;
	background: #ff9c00;
	color: #fff;
}
#login .wrap hr{
  height:1px;
  border:none;
  border-top:1px solid #7d7d7d;
  margin: 30px 0 25px 0;
}
#login .tip{
	font-size: 13px;
	display: inline-block;
	color: #28739a;
}
#login a.firm_icon{
  display: block;
  margin-top: 10px;
  clear: both;
}
#login .i-wechat-firm{
  border-radius: 5px;
}