#register{
	padding: 170px 0;
	background: url(../../imgs/bg.jpg);
}
#register .wrap{
	width: 600px;
	height: 420px;
	background: rgba(255, 255, 255, 0.6);
	margin: 0 auto;
	box-sizing:border-box;
	padding: 25px 80px 40px 80px;
}
#register .wrap .title{
	line-height: 35px;
	font-size: 18px;
	text-align: left;
	border-bottom: 1px solid #7d7d7d;
}
#register .wrap .title span{
	text-align: right;
	font-size: 13px;
	display: inline-block;
	float: right;
	color: #28739a;
}