#topbar{
	width: 100%;
	background:#525252;
}
#topbar ul{
	width: 1200px;
	margin: 0 auto;
}
#topbar ul li{
	list-style: none;
	float: left;
	width: 100px;
	text-align: center;
	font-size: 15px;
	line-height: 50px;
	cursor: pointer;
}
#topbar ul li:hover{
	background:#ff9d00;
}
#topbar ul li.lg{
	background:#92b525;
	width: 250px;
}
#topbar ul li a{
	color: #fff;
}