#intro .intro_wrap{
    padding: 80px 0;
    background: url(../../imgs/bg-intro.png);
}
#intro .wrap{
	width: 1100px;
	min-height:200px;
	background: #fff;
    margin: 0 auto;
    padding-bottom: 80px;
}
#intro .wrap h4{
	font-size: 28px;
	color: #fff;
	line-height: 60px;
	background: #43b413;
	margin-bottom: 30px;
	text-align: center;
}
#intro .wrap p{
	line-height: 30px;
	padding: 0 160px;
	font-size: 14px;
	color: #000;
}