#header{}
#header .top_wrap{
  background: #f8f8f8;
  border-top: 1.5px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
#header .login_wrap{
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 30px;
}
#header .welcome_txt{
  color: #bcbcbc;
  margin-right: 10px;
  font-size: 12px;
}
#header .i-qq,
#header .i-kefu{
  margin:0 5px;
}
#header .qrcode{
  position: relative;
  display: inline-block;
}
#header .qrcode .weixin_icon{
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-image: url(/imgs/sprite20170423_01_05_09.png);
  background-position: 0 -185px;
  width: 145px;
  height: 145px;
}
#header .qrcode:first-child:hover .weixin_icon{
  display: inline-block;
}
#header .qrcode .kefu_icon{
  display: none;
  position: absolute;
  top: 30px;
  left: -30px;
  background-image: url(/imgs/sprite20170423_01_05_09.png);
  background-position: -150px -185px;
  width: 126px;
  height: 128px;
}
#header .qrcode:last-child:hover .kefu_icon{
  display: inline-block;
}
#header .line,
#header .sign{
  color: #797979;
}
#header .line{
  margin: 0 5px;
}
#header .login_wrap .right{
  color: #717171;
}
#header .search_wrap{
  width: 1200px;
  margin: 0 auto;
  height: 120px;
  padding: 5px;
}
#header .search_input{
  display: inline-block;
  border: 2px solid #ff9c00;
  margin: 0 132px;
  position: relative;
}
#header .s_tab{
  display: inline-block;
  width: 105px;
  line-height: 35px;
  font-size: 14px;
  text-align: center;
  background: #f8f8f8;
  position: relative;
  border-right: 2px solid #ff9c00;
}
#header .s_tab .t_title{
  color: #9a9a9a;
}
#header .s_tab ul.list{
  display: none;
  position: absolute;
  width: 100%;
  text-align: left;
  top: 35px;
  left: -2px;
}
#header ul.list li{
  padding-left: 22px;
  color: #9b9b9b;
}
#header .s_tab:hover ul.list{
  display: block;
  background: #f8f8f8;
  border:2px solid #ff9c00;
  z-index: 999;
  border-top: 0;
}
#header .s_tab:hover ul.list li:hover{
  text-decoration: underline;
}
#header .s_tab:hover ul.list li.on{
  display: none;
}
#header .s_input{
  display: inline-block;
  width: 275px;
  line-height: 35px;
  border:0;
  padding-left: 10px;
}
#header .s_input:focus{
  outline: none;
  border: 0;
}
#header a.s_btn{
  display: inline-block;
  width: 120px;
  background: #ff9c00;
  line-height: 35px;
  border: 2px solid #ff9c00;
  color: #fff;
  text-align: center;
}
#header ul.hot{
  position: absolute;
  top: 43px;
}
#header ul.hot li{
  float: left;
  margin: 5px;
  font-size: 13px;
  color: #9b9b9b;
}
