#ad{
	margin-top: 10px;
}
#ad .img{
	width: 305px;
	height: 103px;
}
#ad.one .img{
	background:url(../../imgs/ad_1.png);
	background-size: 100% 100%;
}
#ad.two .img{
	background:url(../../imgs/ad_2.png);
	background-size: 100% 100%;
}
#ad.three .img{
	background:url(../../imgs/ad_3.png);
	background-size: 100% 100%;
}
#ad.four .img{
	background:url(../../imgs/ad_4.png);
	background-size: 100% 100%;
}
#ad.five .img{
	background:url(../../imgs/ad_5.png);
	background-size: 100% 100%;
}
#ad.six .img{
	background:url(../../imgs/ad_6.png);
	background-size: 100% 100%;
}