#screening{
	width: 100%;
	background: #e8e8e8;
	position: relative;
}
#screening em.screening{
	display: block;
	width: 100%;
	height: 180px;
	background: url(../../imgs/screening.png);
	background-size: 100% 100%;
}
#screening .slider_wrap{
  width:100%;
  height: 455px;
  background: url(../../imgs/bg-big.png);
}
#screening .slider{
  width: 1200px;
  margin: 0 auto;
  height: 455px;
  position: relative;
}
#screening .category{
  width: 250px;
  height: 455px;
  background: rgba(0, 0, 0, 0.35);
  padding: 20px 6px;
  box-sizing:border-box;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#screening .category ul{
  border-bottom: 1px solid #8e99a2;
  width: 100%;
}
#screening .category ul li{
  float: left;
  width: 33%;
  vertical-align: middle;
  text-align: left;
}
#screening .category ul.blist,
#screening .category ul.clist{
  margin-top: 20px;
}
#screening .category ul .title span{
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
}
#screening .category ul .items{
  padding: 15px 0 20px 0;
}
#screening .category ul .items li{
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
#screening .selfinfo{
  position: absolute;
  z-index: 99;
  right: 0;
  width: 250px;
  height: 455px;
  background: rgba(0, 0, 0, 0.35);
  padding: 0 10px 20px 10px;
  box-sizing:border-box;
}
#screening .selfinfo .i-avator{
  margin-top: 10px;
	margin-left: 54px;
}
#screening .selfinfo ul{
	margin-top: 25px;
}
#screening .selfinfo ul.info{
	text-align: center;
}
#screening .selfinfo ul li{
  font-size: 12px;
  color: #fff;
  line-height: 24px;
}
#screening .selfinfo .i-nav-right{
  zoom: 1.17;
  position: absolute;
  bottom: 0;
  left: 0;
}
#screening .selfinfo em.i-wechat.hp{
    display: none;
    position: absolute;
    bottom: 172px;
    left: 120px;
    zoom: .65;
}
#screening .selfinfo .i-nav-right:hover + em.i-wechat.hp{
  display: block;
}
#screening .wrap{
	width: 1200px;
	margin: 0 auto;
	background: #fff;
	padding: 25px 5px;
}
#screening .wrap .screening_wrap{
	width: 860px;
}
#screening .wrap .screening_wrap .row{
	border:1px solid #f7f7f7;
	margin-bottom: 5px;
}
#screening .wrap .screening_wrap .input_name{
	display: inline-block;
	width: 130px;
	height: 35px;
	line-height: 35px;
	background: #92b527;
	color: #fff;
	text-align: center;
	font-size: 16px;
}
#screening .wrap .screening_wrap .input_wrap{
	display: inline-block;
	margin-left: 10px;
}
#screening .wrap .screening_wrap .tab_wrap{
	position: relative;
	margin-right: 15px;
}
#screening .wrap .screening_wrap .tab_wrap span{
	color: #b4b4b4;
	background-color: #fff;
	padding: 0 5px;
	line-height: 30px;
	display: inline-block;
	text-align: center;
}
#screening .wrap .screening_wrap .tab_wrap input{
	position: absolute;
	width: 30px;
	height: 30px;
	margin: 0;
	left: 0;
	opacity: 0;
}
#screening .wrap .screening_wrap .tab_wrap.lg input{
	width: 60px;
}
#screening .wrap .screening_wrap .tab_wrap input:checked + span{
	color: #9c9c9c;
	background-color: #e8e8e6;
}
#screening .wrap .operate_wrap{
	width: 858px;
	line-height: 35px;
	border-left:2px solid #ff9d00;
	background: #f6f6f6;
	margin-top: 20px;
}
#screening .wrap .operate_wrap span.title,
#screening .wrap .operate_wrap span.input{
	color: #979797;
	font-size: 15px;
	display: inline-block;
	height: 35px;
}
#screening .wrap .operate_wrap span.title{
	padding: 0 20px;
}
#screening .wrap .operate_wrap span.input{
	position: relative;
}
#screening .operate_wrap span.input input{
	position: absolute;
	width: 70px;
	height: 35px;
	margin: 0;
	left: 0;
	top: 0;
	opacity: 0;
}
#screening .operate_wrap span.input span{
	display: inline-block;
	width: 70px;
	height: 35px;
	text-align: center;
	border-left: 1px solid #e8e8e8;
}
#screening .operate_wrap span.input:last-child{
	border-right: 1px solid #e8e8e8;
}
#screening .operate_wrap span.input input:checked + span{
	background: #fff;
}
#screening .operate_wrap em.i-lb,
#screening .operate_wrap em.i-tw{
	margin-right:5px;
}
#screening ul.triplist{
	width: 840px;
}
#screening .ad-wrap{
    width: 303px;
    height: 131px;
    background: url(../../imgs/ad-top.png);
}
#screening ul.hotlist{
	width: 303px;
	border:1px solid #e0e0e0;
	margin-top: 10px;
	padding-bottom: 9px;
}
#screening ul.hotlist h4{
	background:#f6f6f6;
	line-height: 50px;
	font-size: 18px;
	padding-left: 25px;
	color: #ff9d00;
	border-bottom: 1px solid #e0e0e0;
}
#screening ul.hotlist li{
	padding: 9px 9px 0;
}
#screening ul.hotlist .ad-wrap{
	width: 100%;
	height: 152px;
}
#screening  .tip_btn{
	display: block;
	width: 303px;
	line-height: 50px;
	font-size: 20px;
	background:#ff9d00;
	color: #fff;
	text-align: center;
	margin-top: 10px;
}