#detail{
	background:#e8e8e7;	
}
#detail .topbar{
	width: 100%;
	line-height: 50px;
	height: 50px;
	background: #525252;
	color: #fff;
	text-align: center;
}
#detail .wrap{
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px;
    background: #fff;
    box-sizing: border-box;
}
#detail .wrap .breadcrumb{
	color: #676767;
	border-bottom: 1px dotted #676767;
	line-height: 20px;
}
#detail .wrap .intro_wrap{
	padding: 10px 30px;
}
#detail .pic_wrap{
	float: left;
	width: 500px;
}
#detail a.pic{
	display: inline-block;
	background: url(../../imgs/pic.png);
	width: 480px;
	height: 320px;
}
#detail .share_wrap{
	margin-top: 10px;
	padding: 10px 15px;
	background: #f6f6f6;
	border: 1px solid #e3e3e3;
	float: left;
	width: 160px;
	font-size: 14px;
}
#detail em.i-add{
	margin-right: 5px;
}
#detail em.i-wechat-sm{
	margin-left: 5px;
}
#detail .collect_wrap{
	float: right;
	width: 100px;
	line-height: 40px;
	margin-top: 10px;
	font-size: 14px;
	vertical-align: middle;
}
#detail em.i-collect{
	margin-right: 5px;
}
#detail .intro{
	float: left;
	margin-left: 50px;
}
#detail .name{
	font-size: 18px;
	line-height: 30px;
	width: 550px;
	color: #797979;
}
#detail .intro ul{
	margin-top: 15px;
}
#detail .intro ul li{
	color: #797979;
	line-height: 24px;
	font-size: 14px;
}
#detail .intro ul li a{
	color: #3e609f;
	display: inline-block;
	margin-left: 20px;
}
#detail a.intro_btn{
	display: inline-block;
	width: 160px;
	line-height: 40px;
	background: #ff9c00;
	margin-top: 22px;
	color: #fff;
	text-align: center;
	font-size: 16px;
}
#detail .vip{
	margin-left: 50px;
	display: inline-block;
	font-weight: bold;
}
#detail .vip b{
	font-size: 18px;
	color: #ff9c00;
}
#detail .detail_wrap{
	float: left;
	width: 850px;
	margin-top: 10px;
}
#detail .tab_wrap{
	width: 100%;
	line-height: 50px;
	background: #f6f6f6;
	border: 1px solid #e0e0e0;
}
#detail .tab_wrap .tab{
	width: 150px;
	font-size: 14px;
	color: #797979;
	display: inline-block;
	position: relative;
	text-align: center;
}
#detail .tab_wrap .tab input{
	position: absolute;
	width: 150px;
	height: 50px;
	top: 0;
	left: 0;
	z-index: 99;
	opacity: 0;
}
#detail .tab_wrap .tab span{
	display: inline-block;
	width: 150px;
	height: 50px;
}
#detail .tab_wrap .tab input:checked + span{
	border-width: 1px;
	border-style: solid;
	border-color: #ffa238 #e0e0e0 #fff #e0e0e0;
	background: #fff;
}
#detail .tab_wrap .tab input:checked + span:before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 10px;
    background: #fff;
    bottom: -3px;
    left: 1px;
}
#detail .main_wrap{
	width: 100%;
	min-height: 800px;
	padding: 40px 20px;
	box-sizing:border-box;
	position: relative;
	overflow: scroll;
}
#detail .main_wrap .main{
	display: none;
	position: absolute;
}
#detail .main_wrap .main:first-child{
	display: block;
}
#detail .sidebar_wrap{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	width: 300px;
}
#detail .applicant_wrap{
	width: 300px;
	border: 1px solid #e0e0e0;
}
#detail .applicant_wrap h4{
	background: #f6f6f6;
	padding-left: 15px;
	line-height: 50px;
	border-bottom:1px solid #e0e0e0;
	font-size: 14px;
}
#detail .applicant_wrap ul{
	padding-bottom: 10px;
}
#detail .applicant_wrap ul li{
	float: left;
	margin-top: 10px;
	width: 100px;
	text-align: center;
}
#detail .applicant_wrap ul li img{
	width: 50px;
	height: 50px;
	display: block;
	margin-left: 25px;
	margin-bottom: 5px;
}
#detail .ad-wrap{
	width: 303px;
	height: 131px;
	background: url(../../imgs/ad-top.png);
	margin-top: 10px;
}
#detail .footer_wrap{
	text-align: center;
	background: #fff;
}
#detail .detail-footer-pic{
	background: url(../../imgs/detail_footer.png);
	width: 100%;
	max-width: 1200px;
	height: 130px;
	background-size: 100%;
	margin: 0 auto;
}
#detail .footer_wrap ul.record{
	width: 100%;
	text-align: center;
	width: 1050px;
	margin: 0 auto;
}
#detail .footer_wrap ul.record li{
	float: left;
    width: 150px;
    height: 150px;
    border: 15px solid #80c7bf;
    border-radius: 50% 50%;
    margin: 25px;
    line-height: 30px;
    color: #6f6f6f;
    font-weight: 700;
    padding: 25px 0 0 0;
    box-sizing: border-box;
}
#detail ul.record li span{
	color: #c8c8c8;
}
#detail ul.record li span b{
	color: #8bebe9;
	font-size: 28px;
}