#signup .content{
  padding: 80px 0 20px 0;
  background: url(../../imgs/bg.jpg);
}
#signup .slider_wrap{
  width:100%;
  height: 455px;
  background: url(../../imgs/bg-big.png);
}
#signup .slider{
  width: 1200px;
  margin: 0 auto;
  height: 455px;
  position: relative;
}
#signup .category{
  width: 250px;
  height: 455px;
  background: rgba(0, 0, 0, 0.35);
  padding: 20px 6px;
  box-sizing:border-box;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#signup .category ul{
  border-bottom: 1px solid #8e99a2;
  width: 100%;
}
#signup .category ul li{
  float: left;
  width: 33%;
  vertical-align: middle;
  text-align: left;
}
#signup .category ul.blist,
#signup .category ul.clist{
  margin-top: 20px;
}
#signup .category ul .title span{
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
}
#signup .category ul .items{
  padding: 15px 0 20px 0;
}
#signup .category ul .items li{
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}
#signup .selfinfo{
  position: absolute;
  z-index: 99;
  right: 0;
  width: 250px;
  height: 455px;
  background: rgba(0, 0, 0, 0.35);
  padding: 0 10px 20px 10px;
  box-sizing:border-box;
}
#signup .selfinfo .i-avator{
  margin-top: 10px;
  margin-left: 54px;
}
#signup .selfinfo ul{
  margin-top: 25px;
}
#signup .selfinfo ul.info{
  text-align: center;
}
#signup .selfinfo ul li{
  font-size: 12px;
  color: #fff;
  line-height: 24px;
}
#signup .selfinfo .i-nav-right{
  zoom: 1.17;
  position: absolute;
  bottom: 0;
  left: 0;
}
#signup .selfinfo em.i-wechat.hp{
    display: none;
    position: absolute;
    bottom: 172px;
    left: 120px;
    zoom: .65;
}
#signup .selfinfo .i-nav-right:hover + em.i-wechat.hp{
  display: block;
}
#signup .wrap{
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  box-sizing:border-box;
  padding-bottom: 20px;
}
#signup .wrap .title{
  line-height: 60px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background: #43b413;
  margin-bottom: 25px;
}
#signup .main{
  margin: 25px 200px;
}
#signup .main .info{
  margin-bottom: 20px;
  padding: 10px 0;
  width: 600px;
  margin-left: 50px;
}
#signup .main .info:hover{
  background: #f4f4f4;
}
#signup .main .input_wrap{
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: center;
}
#signup .main .input_wrap input{
  line-height: 40px;
  height: 40px;
  width: 365px;
}
#signup .main a.signup_btn{
  display: inline-block;
  width: 270px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  background: #ff9c00;
  margin: 40px 0 25px 233px;
}
#signup .main .discount{
  padding: 20px 10px;
  border-top: 1px dotted #bdbdbd;
  position: relative;
}
#signup .discount h4{
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff9c00;
}
#signup .discount .name{
  font-size: 13px;
  line-height: 25px;
}
#signup .discount .ruler{
  font-size: 13px;
  line-height: 25px;
  color: #676767;
}
#signup .discount .detail_btn{
  color: #3e609f;
  line-height: 30px;
}
#signup .discount .price{
  position: absolute;
  top: 40px;
  right: 0px;
}
#signup .discount .price span{
  font-size: 14px;
}
#signup .discount .price b.before{
  color: #676767;
  text-decoration:line-through;
  font-size: 14px;
  margin-right: 10px;
}
#signup .discount .price b.now,
#signup .discount .price b.now span{
  color: red;
  font-size: 16px;
}
#signup .discount h4 span{
  color: #65be48;
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}
#signup .discount .detail{
  margin-top: 10px;
  line-height: 30px;
  font-size: 14px;
  color: #676767;
}
#signup .discount .detail b{
  color: #000;
}
#signup .discount .tip{
  color: #6d6b67;
  margin-top: 20px;
  line-height: 25px;
}
#signup .discount .must_wrap{
  color: #000;
}
#signup .discount a.must_know{
  display: inline-block;
  margin-left: 15px;
  color: #43b413;
}
#signup .express label{
  line-height: 30px;
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
}
#signup .express .express_input{
  vertical-align: middle;
  display: inline-block;
}
#signup .express .info{
  display: none;
  padding: 20px 10px;
}
#signup .express .express_input.two:checked + label + .info{
  display: block;
}
#signup .main .total{
  float: right;
}
#signup .main .total b{
  display: inline-block;
  margin:0 15px;
  color: red;
  font-size: 14px;
}
#signup .main .total a.submit_btn{
  font-size: 16px;
  color: #fff;
  display: inline-block;
  width: 170px;
  text-align: center;
  background-color: #43b413;
  line-height: 50px;
  margin-left: 20px;
}
#signup .modal_wrap{
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: none;
}
#signup .modal_wrap .modal{
  background: #fff;
  padding: 50px;
  width: 800px;
  margin-left: -400px;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  position: absolute;
}
#signup .modal_wrap .modal .i-close{
  position: absolute;
  top: 20px;
  right: 30px;
  zoom: .6;
  cursor: pointer;
}
#signup .modal_wrap .modal p{
  font-size: 14px;
  line-height: 20px;
  text-indent: 28px;
}
#signup .modal_wrap .modal h4{
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
