.i-add{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -431px -282px;
    width: 18px;
    height: 18px;
}
.i-avator{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -281px -185px;
    width: 122px;
    height: 116px;
}
.i-close{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -125px -335px;
    width: 32px;
    height: 32px;
}
.i-collect{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -220px -157px;
    width: 23px;
    height: 23px;
}
.i-dot{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -396px -157px;
    width: 11px;
    height: 11px;
}
.i-down-lg{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -408px -240px;
    width: 41px;
    height: 37px;
}
.i-down{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -439px -142px;
    width: 11px;
    height: 7px;
}
.i-f_1{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -300px -157px;
    width: 20px;
    height: 19px;
}
.i-f_2{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -408px -282px;
    width: 18px;
    height: 19px;
}
.i-f_3{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -248px -157px;
    width: 21px;
    height: 22px;
}
.i-f_4{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -270px -335px;
    width: 26px;
    height: 26px;
}
.i-free{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -234px -335px;
    width: 31px;
    height: 30px;
}
.i-gift{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -162px -335px;
    width: 31px;
    height: 31px;
}
.i-give{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -198px -335px;
    width: 31px;
    height: 30px;
}
.i-hot{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -325px -157px;
    width: 29px;
    height: 12px;
}
.i-hp-1{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -439px -117px;
    width: 20px;
    height: 20px;
}
.i-hp-2{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -274px -157px;
    width: 21px;
    height: 19px;
}
.i-hp-3{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -359px -335px;
    width: 19px;
    height: 20px;
}
.i-kefu{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -301px -335px;
    width: 24px;
    height: 24px;
}
.i-lb{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -378px -157px;
    width: 13px;
    height: 12px;
}
.i-left{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -23px -385px;
    width: 18px;
    height: 35px;
}
.i-logo{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -220px 0px;
    width: 239px;
    height: 112px;
}
.i-nav-right{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: 0px 0px;
    width: 215px;
    height: 180px;
}
.i-qq{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -330px -335px;
    width: 24px;
    height: 24px;
}
.i-qqgroup{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -150px -185px;
    width: 126px;
    height: 128px;
}
.i-right{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: 0px -385px;
    width: 18px;
    height: 35px;
}
.i-tel{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -220px -117px;
    width: 177px;
    height: 35px;
}
.i-tw{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -359px -157px;
    width: 14px;
    height: 12px;
}
.i-wechat-firm{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -402px -117px;
    width: 32px;
    height: 33px;
}
.i-wechat-sm{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -383px -335px;
    width: 16px;
    height: 16px;
}
.i-wechat{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: 0px -185px;
    width: 145px;
    height: 145px;
}
.i-weixin{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: -408px -185px;
    width: 50px;
    height: 50px;
}
.i-zfb{
    background-image: url("imgs/sprite20170409_02_56_12.png");
    background-position: 0px -335px;
    width: 120px;
    height: 45px;
}
