.i-down{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: -292px -157px;
    width: 11px;
    height: 7px;
}
.i-f_1{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: -244px -157px;
    width: 20px;
    height: 19px;
}
.i-f_2{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: -269px -157px;
    width: 18px;
    height: 19px;
}
.i-f_3{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: -333px -126px;
    width: 21px;
    height: 22px;
}
.i-f_4{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: -244px -126px;
    width: 26px;
    height: 26px;
}
.i-kefu{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: -304px -126px;
    width: 24px;
    height: 24px;
}
.i-logo{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: 0px 0px;
    width: 239px;
    height: 112px;
}
.i-qq{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: -275px -126px;
    width: 24px;
    height: 24px;
}
.i-qqgroup{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: -244px 0px;
    width: 121px;
    height: 121px;
}
.i-tel{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: 0px -243px;
    width: 176px;
    height: 38px;
}
.i-wechat{
    background-image: url("imgs/sprite20170214_07_44_32.png");
    background-position: 0px -117px;
    width: 121px;
    height: 121px;
}
