#homepage{
}
#homepage .topbar{
	width: 100%;
	line-height: 50px;
	height: 50px;
	background: #525252;
	color: #fff;
	text-align: center;
}
#homepage .slider_wrap{
	width:100%;
	height: 455px;
	background: url(../../imgs/bg-big.png);
}
#homepage .slider{
	width: 1200px;
	margin: 0 auto;
	height: 455px;
	position: relative;
}
#homepage .category{
	width: 250px;
	height: 455px;
	background: rgba(0, 0, 0, 0.35);
	padding: 20px 6px;
	box-sizing:border-box;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
#homepage .category ul{
	border-bottom: 1px solid #8e99a2;
	width: 100%;
}
#homepage .category ul li{
	float: left;
	width: 33%;
	vertical-align: middle;
	text-align: left;
}
#homepage .category ul.blist,
#homepage .category ul.clist{
	margin-top: 20px;
}
#homepage .category ul .title span{
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	display: inline-block;
	margin-left: 10px;
}
#homepage .category ul .items{
	padding: 15px 0 20px 0;
}
#homepage .category ul .items li{
	font-size: 12px;
	line-height: 20px;
	color: #fff;
}
#homepage .selfinfo{
	position: absolute;
	z-index: 99;
	right: 0;
	width: 250px;
	height: 455px;
	background: rgba(0, 0, 0, 0.35);
	padding: 0 10px 20px 10px;
	box-sizing:border-box;
}
#homepage .selfinfo .i-avator{
	margin-top: 10px;
	margin-left: 54px;
}
#homepage .selfinfo ul{
	margin-top: 25px;
}
#homepage .selfinfo ul.info{
	text-align: center;
}
#homepage .selfinfo ul li{
	font-size: 12px;
	color: #fff;
	line-height: 24px;
}
#homepage .selfinfo .i-nav-right{
	zoom: 1.17;
	position: absolute;
	bottom: 0;
	left: 0;
}
#homepage .selfinfo em.i-wechat.hp{
    display: none;
    position: absolute;
    bottom: 172px;
    left: 120px;
    zoom: .65;
}
#homepage .selfinfo .i-nav-right:hover + em.i-wechat.hp{
	display: block;
}
#homepage .pic_wrap{
	width: 100%;
	position: relative;
	height: 120px;
	overflow: hidden;
}
#homepage .hp-1,
#homepage .hp-2,
#homepage .hp-3{
	position: absolute;
	display: inline-block;
	width: 1200px;
	height: 120px;
	margin-left: -600px;
    left: 50%;
	background: url(../../imgs/hp-1.png);
	background-size: 100% 100%;
}
#homepage .hp-2{
	background: url(../../imgs/hp-2.png);
	height: 130px;
}
#homepage .hp-3{
	background: url(../../imgs/detail_footer.png);
}
#homepage .wrap{
	width:1200px;
	margin: 0 auto;
}
#homepage .tab_wrap{
	margin-top: 10px;
	border-bottom: 2px solid #ff9d00;
}
#homepage .tab_wrap .tab{
	position: relative;
	text-align: center;
	display: inline-block;
}
#homepage .tab_wrap span{
	font-size: 18px;
	color: #ff9d00;
	width: 200px;
	line-height: 50px;
	display: inline-block;
}
#homepage .tab_wrap input{
	width: 200px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	opacity: 0;
}
#homepage .tab_wrap input:checked + span{
	background:#ff9d00;
	color: #fff;
}
#homepage .case_wrap{
	padding: 10px 0;
	box-sizing:border-box;
}
#homepage #case2,
#homepage #case3{
	display: none;
}
#homepage .case_wrap .left{
	margin-right: 10px;
	width: 370px;
}
#homepage .case_wrap .left .case{
	display: inline-block;
	width: 370px;
	height: 230px;
	background: url(../../imgs/case-1.png);
	background-size: 100% 100%;
	margin-bottom: 10px;
}
#homepage .case_wrap ul.right{
	width: 810px;
}
#homepage .case_wrap ul.right li{
	float: left;
	width: 33%;
	margin-bottom: 10px;
}
#homepage .case_wrap ul.right em.item{
	display: inline-block;
	width: 260px;
	height: 160px;
	background: url(../../imgs/case-2.png);
	background-size: 100% 100%;
}
#homepage .case_wrap ul.right h4{
	font-size: 14px;
	line-height: 24px;
	width: 260px;
	position: relative;
	/*height: 48px;*/
	/*overflow: hidden;*/
}
#homepage .case_wrap ul.right .price{
	font-size: 14px;
	color: #c7c7c7;
	position: absolute;
	bottom: 0;
	right: 0;
}
#homepage .case_wrap ul.right .price b{
	color: #ff9d00;
	font-size: 14px;
}
#homepage .case_wrap ul.right .timestamp{
	font-size: 16px;
	line-height: 26px;
	color: #c7c7c7;
}
#homepage ul.leader_wrap{
	margin: 6px 0;
}
#homepage ul.leader_wrap li{
	width: 200px;
	float: left;
	text-align: center;
	position: relative;
}
#homepage ul.leader_wrap li em.leader{
	display: inline-block;
	width: 185px;
	height: 290px;
	background-size: 100% 100%;
}
#homepage ul.leader_wrap li em.leader1{
	background: url(../../imgs/leader1.png)
}
#homepage ul.leader_wrap li em.leader2{
	background: url(../../imgs/leader2.png)
}
#homepage ul.leader_wrap li em.leader3{
	background: url(../../imgs/leader3.png)
}
#homepage ul.leader_wrap li em.leader4{
	background: url(../../imgs/leader4.png)
}
#homepage ul.leader_wrap li em.leader5{
	background: url(../../imgs/leader5.png)
}
#homepage ul.leader_wrap li em.leader6{
	background: url(../../imgs/leader6.png)
}
#homepage ul.leader_wrap li span{
	display: inline-block;
	width: 185px;
	font-size: 14px;
	line-height: 35px;
	color: #fff;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	left: 7.5px;
}
#homepage ul.record {
    width: 100%;
    text-align: center;
    width: 1050px;
    margin: 0 auto;
}
#homepage ul.record li {
    float: left;
    width: 150px;
    height: 150px;
    border: 15px solid #80c7bf;
    border-radius: 50% 50%;
    margin: 25px;
    line-height: 30px;
    color: #6f6f6f;
    font-weight: 700;
    padding: 25px 0 0 0;
    box-sizing: border-box;
}
#homepage ul.record li span {
    color: #c8c8c8;
}
#homepage ul.record li span b {
    color: #8bebe9;
    font-size: 28px;
}
